<!--===
    * Template estilizado em HTML.
    * Fique a vontade para customizar.    
    * Feito para uso no GitHub (Markdown).
    * Template Feito por Henry8K [HenryDM].
    * Em Streaks altere no link para user=[Seu User do github].
===-->


<!--=== Banner de Introdução ===-->

<div>
    <img src="https://user-images.githubusercontent.com/119537238/215882435-ef3fdcc5-7576-49ae-be78-c1691826a77e.png">
</div>

<!--=== Quebra de Página ===-->
<hr>  

<!--=== Texto de Introdução ===-->
<div>
    <h1>[Emoji] • Introdução</h1>
    <blockquote>Descreva sobre você!</blockquote>
</div>

<!--=== Quebra de Página ===-->
<hr>

<!--=== Texto de Habilidades ===-->
<div>
    <h1>[Emoji] • Skills</h1>
    <blockquote>Descreva a Skill 1</blockquote>
    <blockquote>Descreva a Skill 2</blockquote>
    <blockquote>Descreva a Skill 3</blockquote>
    <blockquote>Descreva a Skill 4</blockquote>
    <blockquote>Descreva a Skill 5</blockquote>
</div>

<!--=== Quebra de Página ===-->
<hr>

<!--=== Imagem de Streaks ===-->
<div>
    <img src="https://streak-stats.demolab.com/?user=Henry8K&theme=algolia">
</div>
  
<!--=== Quebra de Página ===-->
<hr>

<!--=== Texto do author ===-->
  
<div>
    <blockquote>Feito com 💝 por <b>Seu Nome</b>.</blockquote>
</div>